@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  background-color: white;
}
.float-label-input {
  margin: 32px 0;
}

.float-label-input:focus-within label,
.float-label-input input:not(:placeholder-shown) + label {
  transform: translateY(-1.5rem) scale(0.75);
  background-color: white;
  color: var(--main-text-color);
}

:root {
  /* -------------------background----------------------- */
  --main-background: #f9f9f9;
  --secondary-background: #ffffff;

  /* -------------------extra background----------------------- */

  /* -------------------typo----------------------- */
  --main-text-color: #000000;
  --secondary-text-color: #9fa5b0;
  --tertiary-text-color: #747474;
  --brand-text-color: #e95e11;
  --brown-text-color: #bf2507;
  --light-on-surface-variant: #49454f;

  /* -------------------border----------------------- */

  --border: #ededed;
}

html[data-theme="light"] {
  /* -------------------background----------------------- */

  /* -------------------extra background----------------------- */

  /* -------------------typo----------------------- */

  /* -------------------border----------------------- */

  --border-default: rgba(103, 117, 161, 0.22);
  --border-error: rgba(220, 38, 38, 0.3);
}

html[data-theme="dark"] {
  /* -------------------background----------------------- */

  /* -------------------border----------------------- */

  --border-error: rgba(220, 38, 38, 0.3);
}
